---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>My Astro Site</h1>
        <h1>The About Me Section</h1>
        <h2>...this is where stuff will go one day</h2>

        <p>I'm working through an online tutorial on how to do this silliness.</p>

	</body>
</html>
